/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Root variables for color scheme */
:root {
    --base-color: #161515;        /* Base color */
    --base-color2: #1391D9;       /* Secondary base color */
    --text-color: #fff;           /* Text color */
}

/* Base font settings */
html {
    font-size: 16px;              /* Base font size */
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

/* Body styles */
body {
    font-family: "Teko", Arial, sans-serif; /* Font family */
    background: -webkit-linear-gradient(bottom, rgba(22, 21, 21, 1), rgba(22, 21, 21)); /* Background gradient */
    color: var(--text-color);     /* Text color */
}

/* SweetAlert title styles */
.swal-title {
    font-size: 54px;              /* Adjust title size as needed */
    color: var(--text-color);     /* Text color */
}

/* Profile icon styles */
#perfil {
    height: 50px;                 /* Height */
    margin-right: 30px;           /* Right margin */
}

/* Logo styles */
#logo {
    margin-top: -50px;            /* Top margin */
    height: 100px;                /* Height */
}

/* Header Styles */
#menu {
    display: flex;                /* Flex container */
    justify-content: flex-end;    /* Align items to the right */
    align-items: center;          /* Center align items vertically */
    background-color: var(--base-color2); /* Background color */
    width: 100%;                  /* Full width */
    height: 6vh;                  /* Height */
}

/* Banner Section */
#banner {
    background-size: cover;       /* Cover background */
    background-attachment: fixed; /* Fixed background */
    background-position: center;  /* Center background */
    position: relative;           /* Relative positioning */
    height: 70vh;                 /* Height */
    width: 100%;                  /* Full width */
    z-index: -1;                  /* Behind other elements */
}

/* Main Menu Section */
#main-menu {
    background: linear-gradient(rgba(22, 21, 21, 0.9), rgba(22, 22, 21, 1)); /* Background gradient */
    position: relative;           /* Relative positioning */
}

/* Main Menu unordered list styles */
#main-menu ul {
    display: flex;                /* Flex container */
    align-items: center;          /* Center align items vertically */
    justify-content: flex-end;    /* Align items to the right */
    position: absolute;           /* Absolute positioning */
    list-style: none;             /* Remove list styling */
    gap: 10px;                    /* Gap between items */
    top: 30px;                    /* Top position */
    right: 30px;                  /* Right position */
}

/* Main Menu list item anchor styles */
#main-menu ul li a {
    color: var(--text-color);     /* Text color */
    font-size: 2rem;              /* Font size */
    text-decoration: none;        /* Remove underline */
    font-weight: bold;            /* Bold font weight */
    text-transform: uppercase;    /* Uppercase text */
}

/* Main Menu anchor pseudo element styles */
#main-menu ul li a::after {
    content: '';                  /* Empty content */
    position: absolute;           /* Absolute positioning */
    left: 0;                      /* Left position */
    bottom: -5px;                 /* Bottom position */
    width: 100%;                  /* Full width */
    height: 2px;                  /* Height */
    background-color: var(--base-color2); /* Line color */
    transform: scaleX(0);         /* Initially hidden */
    transform-origin: right;      /* Transform origin */
    transition: transform 0.3s ease; /* Transition effect */
}

/* Main Menu anchor hover styles */
#main-menu ul li a:hover {
    color: var(--base-color2);    /* Text color on hover */
}

/* Main Menu anchor hover pseudo element styles */
#main-menu ul li a:hover::after {
    transform: scaleX(1);         /* Show line on hover */
    transform-origin: left;       /* Transform origin */
}

/* Icon Section */
#icon img {
    position: absolute;           /* Absolute positioning */
    margin-top: 10px;             /* Top margin */
    margin-left: 9%;              /* Left margin */
    height: 80px;                 /* Height */
    top: 30px;                    /* Top position */
}

/* Introduction Section */
#introduction h2 {
    position: absolute;           /* Absolute positioning */
    font-size: 30px;              /* Font size */
    margin-left: 15%;             /* Left margin */
    margin-top: 35px;             /* Top margin */
    font-weight: bold;            /* Bold font weight */
    text-transform: uppercase;    /* Uppercase text */
    top: 30px;                    /* Top position */
}

/* Introduction Section heading after pseudo element styles */
#introduction h2:after {
    content: "";                  /* Empty content */
    display: block;               /* Block level element */
    width: 60px;                  /* Width */
    height: 3px;                  /* Height */
    background: #fff;             /* Background color */
    margin: 6px auto 10px auto;   /* Margin */
}

/* Phrase Section heading styles */
#phrase h1 {
    text-align: center;           /* Center align text */
    position: absolute;           /* Absolute positioning */
    font-size: 7rem;              /* Font size */
    margin-left: 10%;             /* Left margin */
    margin-top: 7%;               /* Top margin */
    top: 30px;                    /* Top position */
    font-weight: bold;            /* Bold font weight */
    text-transform: uppercase;    /* Uppercase text */
}

/* Introduction Section phrase heading styles */
#introduction #phrase h2 {
    text-align: center;           /* Center align text */
    position: absolute;           /* Absolute positioning */
    font-size: 7rem;              /* Font size */
    margin-left: 10%;             /* Left margin */
    margin-top: 12%;              /* Top margin */
    top: 30px;                    /* Top position */
    font-weight: bold;            /* Bold font weight */
    text-transform: uppercase;    /* Uppercase text */
}

/* Introduction Section paragraph styles */
#introduction p {
    position: absolute;           /* Absolute positioning */
    font-size: 1.5rem;            /* Font size */
    margin-left: 10%;             /* Left margin */
    margin-top: 20%;              /* Top margin */
    max-width: 500px;             /* Maximum width */
    top: 30px;                    /* Top position */
    text-transform: uppercase;    /* Uppercase text */
}

/* Divider Section */
#divisor {
    position: absolute;           /* Absolute positioning */
    content: "";                  /* Empty content */
    display: block;               /* Block level element */
    width: 100%;                  /* Full width */
    height: 8px;                  /* Height */
    background: var(--base-color2); /* Background color */
}

/* Divider Section heading styles */
#divisor h2 {
    position: absolute;           /* Absolute positioning */
    color: var(--text-color);     /* Text color */
    font-size: 3.5rem;            /* Font size */
    margin-left: 10%;             /* Left margin */
    margin-top: -1%;              /* Top margin */
    text-transform: uppercase;    /* Uppercase text */
}

/* Slider Section */
.slider-container {
    width: 100%;                  /* Full width */
    height: 100vh;                /* Full height of viewport */
    display: flex;                /* Flex container */
    align-items: center;          /* Center align items vertically */
    justify-content: center;      /* Center align items horizontally */
}

/* Slider images container */
.slider-images {
    display: flex;                /* Flex container */
    align-items: center;          /* Center align items vertically */
    gap: 21px;                    /* Gap between images */
}

/* Individual slider image */
.slider-images img {
    width: 100%;                  /* Full width */
    height: 100%;                 /* Full height */
    object-fit: cover;            /* Cover image */
    border-radius: 6px;           /* Border radius */
}

/* Slider image container */
.slider-img {
    width: 110px;                 /* Width */
    border-radius: 6px;           /* Border radius */
    cursor: pointer;              /* Pointer cursor */
    position: relative;           /* Relative positioning */
    transition: 0.7s ease;        /* Transition effect */
}

/* Specific heights for slider images */
.slider-images .slider-img:first-child,
.slider-images .slider-img:last-child {
    height: 480px;                /* Height */
}

.slider-images .slider-img:nth-child(2),
.slider-images .slider-img:nth-child(6) {
    height: 560px;                /* Height */
}

.slider-images .slider-img:nth-child(3),
.slider-images .slider-img:nth-child(4),
.slider-images .slider-img:nth-child(5) {
    height: 665px;                /* Height */
}

/* Names section styles */
.names {
    font-size: 40px;              /* Font size */
    font-weight: 500;             /* Font weight */
    min-width: 200px;             /* Minimum width */
    text-align: left;             /* Left align text */
    text-transform: uppercase;    /* Uppercase text */
    color: var(--base-color2);    /* Text color */
    position: absolute;           /* Absolute positioning */
    top: 50%;                     /* Top position */
    left: -35%;                   /* Left position */
    transform: rotate(270deg);    /* Rotate text */
    transition: 0.7s ease;        /* Transition effect */
}

/* Details section styles */
.details {
    position: absolute;           /* Absolute positioning */
    bottom: 43px;                 /* Bottom position */
    left: 43px;                   /* Left position */
}

/* Details heading styles */
.details h2 {
    font-size: 33px;              /* Font size */
    font-weight: 700;             /* Font weight */
    text-align: left;             /* Left align text */
    line-height: 44px;            /* Line height */
    color: var(--text-color);     /* Text color */
    text-transform: uppercase;    /* Uppercase text */
    transition: 0.7s ease;        /* Transition effect */
    display: none;                /* Initially hidden */
}

/* Details image styles */
.details img {
    width: 20%;                   /* Width */
    text-align: left;             /* Left align text */
    transition: 0.7s ease;        /* Transition effect */
    display: none;                /* Initially hidden */
}

/* Active slider image styles */
.slider-img.active {
    width: 766px !important;     /* Important width */
    height: 750px !important;    /* Important height */
}

/* Hide h1 on active slider image */
.slider-img.active h1 {
    display: none;               /* Hide h1 */
}

/* Display details on active slider image */
.slider-img.active .details img,
.slider-img.active .details h2 {
    display: block;              /* Show details */
}

/* Footer Section */
footer {
    width: 100%;                  /* Full width */
    height: 80px;                 /* Height */
    background-color: var(--base-color2); /* Background color */
    color: var(--text-color);     /* Text color */
}

/* Footer heading styles */
footer h5 {
    font-size: 2.5rem;            /* Font size */
    padding-top: 20px;            /* Top padding */
    padding-left: 20px;           /* Left padding */
    display: flex;                /* Flex container */
    justify-content: left;        /* Justify content left */
    align-items: center;          /* Align items center */
    text-align: left;             /* Left align text */
}

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;               /* Start opacity */
    }
    to {
        opacity: 1;               /* End opacity */
    }
}

/* Fade-in text animation */
.fade-in-text {
    animation: fadeIn 2s ease-in; /* Animation */
}
