*{
    margin: 0;
    padding: 0;
    box-sizing:border-box ;
}

:root{
    --base-color:#161515;
    --base-color2:#1391D9;
    --text-color:#ffff;
}

body{
    font-family: "Teko", sans-serif; /* Aplica a fonte Teko */
}
